body {
  background-color:#aacdf0;
}
.slideshow, .header {
  margin:0;
}
.slideshow {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/slideshow-background.jpeg");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  height:100vh;
  display:flex;
  align-items:center;
  text-align: center;
  min-height:450px;
  width:100%;
}
.slideshow h1 {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color:white;
  font-size:80px;
  margin-bottom:10px;
}
.slideshow h2 {
  color:white;
}
.slideshow .btn {
  margin-top:20px;

  padding:15px 40px;
  transition:1s;
}
.slideshow .btn:hover {
  color:#222;
  transition:1s;
  box-shadow:0px 0px 10px white;
}
.container-out {
  padding:70px 0;
}
.btn {
  background:#aacdf0;
  transition:1s;
  color:#222;
  text-transform: uppercase;
  font-size:16px;
  border:none;
  border-bottom:2px solid #528bc4;
}
.btn:hover {
  background:#aacdf0;
  color:#222;
  border-radius:5px;
  box-shadow:0px 0px 5px gray;
  transition:1s;
}

@media screen and (min-width: 768px) {
  .halfbox {
    width:70%;
    margin-right:0;
    display:inline-block;
    padding:40px;
    background: white;
  }
  .half-behind-img-right {
    margin-left:-400px;
    position:relative;
    z-index:-1;
    margin-bottom:50px;
  }
  .half-behind-img-left {
    margin-right:-400px;
    position:relative;
    z-index:-1;
    margin-bottom:50px;
  }
}
@media screen and (max-width: 768px) {
  .halfbox {
    padding:40px;
    background: white;
  }
  .half-behind-img-right {
    margin:20px auto;
    border:1px solid white;
    padding:10px;
    width:100%;
  }
  .half-behind-img-left {
    margin:20px auto;
    border:1px solid white;
    padding:10px;
    width:100%;
  }
}
/* start for testing only */
.filler-sm {
  background:gray;
  width:100%;
  height:30px;
}
/* end for testing only */

/* start navbar stuff */
.navbar-default {
  background:#222;
}
.navbar-default .navbar-nav>li>a {
  color: #FFF;
}
.navbar-default .navbar-brand {
  color: #FFF;
  font-weight:bold;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #DDD;
}
.navbar-default .navbar-brand:hover {
  color: #DDD;
}
.navbar-default {
  border-radius: 0;
  background: #222;
  border:none;
  margin-bottom:0;
}
.navbar-brand img {
  height:45px;
}
.navbar-brand {
  margin:0px 10px;
  padding:0px;
  display:flex;
  align-items:center;
}
@media screen and (min-width: 768px) {
  .navbar-default {
    box-shadow:0px 0px 10px black;
  }
  .navbar-default .navbar-nav>li>a {
    padding: 15px 20px 12px 20px;
    transition: border-color .5s;
    border-bottom-color: transparent;
    text-transform: uppercase;
    font-size:12px;
    font-weight:bold;
  }
  .navbar-default .navbar-nav>li>a:hover {
    color: #DDD;
    border-bottom:3px solid #DDD;
  }
  .navbar-default .navbar-nav>li>a.active:hover {
    color: #FFF;
    border-bottom:3px solid #FFF;
  }
  .navbar-brand {
    display:flex;
    align-items:center;
  }
  .navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover {
    color: #FFF;
    background-color:white;
    border-bottom:3px solid #FFF;
  }
  .navbar-default .navbar-nav>li>.active {
    border-bottom:3px solid #FFF;
  }
}
/* end navbar stuff */
.picturesmall {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("http://www.defendtaxpayer.com/blog/wp-content/uploads/2015/06/tax-tips.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  height:30vh;
  display:flex;
  align-items:center;
  text-align: center;
  min-height:450px;
  width:100%;
  margin-bottom:20px;
}
.picturesmall h1 {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color:white;
  font-size:50px;
  margin-bottom:10px;
}
.picturesmall h2 {
  color:white;
  font-size:20px;
  margin-bottom:10px;
}

.resumepic {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://static.pexels.com/photos/7112/woman-typing-writing-windows.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  height:30vh;
  display:flex;
  align-items:center;
  text-align: center;
  min-height:450px;
  width:100%;
  margin-bottom:20px;
}
.resumepic h1 {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color:white;
  font-size:50px;
  margin-bottom:10px;
}

body {
  padding-top:50px;
}
.container-out .btn.btn-sm {
  margin-top:20px;
  color:#222;
  border-radius:5px;
  padding:10px 25px;
  background-color:#aacdf0;
  transition:1s;
  font-size:100%;
}
.container-out .btn {
  margin-top:20px;
  color:#222;
  border-radius:5px;
  padding:15px 40px;
  background-color:#aacdf0;
  transition:1s;
}
.container-out .btn:hover {
  /*background:rgba(255,255,255,0.2);*/
  color:#222;
  transition:1s;
  box-shadow:0px 0px 10px #BBB;
}
.jumbotron .btn {
  margin-top:20px;
  color:#222;
  border-radius:5px;
  padding:15px 40px;
  background-color:#aacdf0;
  transition:1s;
}
.jumbotron .btn:hover {
  color:#222;
  transition:1s;
  box-shadow:0px 0px 10px white;
}
.slideshow .btn {
  margin-top:30px;
}
.quote-intro {
  color:white;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container-out h1,.container-out h2,.container-out h3,.container-out h4,.container-out h5,.container-out h6 {
  line-height:1.75em;
}
.job-op {
  padding:20px;
  margin:10px 0;
}
.job-op h4 {
  font-weight:bold;

}
.container-out p, .container-out li {
  line-height:1.75em;
}
.q-intro {
  padding:40px 0 20px 0;
}
@media screen and (max-width: 768px) {
  .col-box {
    margin:40px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .col-box {
    margin:20px 0;
  }
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
  .col-box {
    padding:30px;
  }
}
@media screen and (min-width: 1200px) {
  .col-box {
    padding:40px;
  }
}
p, .container-out li {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:lighter;
  font-size:1.2em;
}

.container-out ul {
  list-style-type: square;
}
#footer {
  background:#001a66;
  color:white;
  padding:20px 0 10px 0;
  text-align:center;
}
#footer p {
  font-weight:normal;
  font-size:10px;
  margin-bottom:5px;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.col-image-box {
  padding:30px;
}
.col-image-box img {
  padding:10px;
  border:1px solid white;
  margin:20px 0;
}
.row-bottom-line {
  padding-bottom:40px;
  border-bottom:2px solid white;
}
.social-logos {
  margin-top:30px;
}
.social-logos img {
  margin:0 10px;
  margin-bottom: 5px;
  transition:1s;
  border-radius:15px;
}
.social-logos img:hover {
  border-radius:15px;
  background:rgba(255, 255, 255, 0.5);
  transition:1s;
}
#footer a {
  color:white;
  text-decoration: underline;
  font-size:10px;
}
